<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.indiedeveloper.unitconverter">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.indiedeveloper.unitconverter.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.indiedeveloper.unitconverter.AreaActivity"
                  android:label="@string/area_activity"
                  android:screenOrientation="portrait">
            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.indiedeveloper.unitconverter.MainActivity"/>
        </activity>
        <activity android:name="com.indiedeveloper.unitconverter.LengthActivity"
                  android:label="@string/length_activity"
                  android:screenOrientation="portrait">
            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.indiedeveloper.unitconverter.MainActivity"/>
        </activity>
        <activity android:name="com.indiedeveloper.unitconverter.MassActivity"
                  android:label="@string/mass_activity"
                  android:screenOrientation="portrait">
            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.indiedeveloper.unitconverter.MainActivity"/>
        </activity>
        <activity android:name="com.indiedeveloper.unitconverter.TemperatureActivity"
                  android:label="@string/temperature_activity"
                  android:screenOrientation="portrait">
            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.indiedeveloper.unitconverter.MainActivity"/>
        </activity>
        <activity android:name="com.indiedeveloper.unitconverter.VolumeActivity"
                  android:label="@string/volume_activity"
                  android:screenOrientation="portrait">
            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.indiedeveloper.unitconverter.MainActivity"/>
        </activity>
    </application>

</manifest>